<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Scalo</title>
  <!-- <link rel="icon" type="image/x-icon" href="/assets/favicon.ico.jpeg" /> -->
  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
  <header class="flex justify-between items-center" id="header">
  </header>
  <main id="app"></main>

  <!-- Vue and SCSS bundle -->
  <script src="/assets/build/bundle.js"></script>
</body>
</html>
