@import '~v-calendar/style.css';

body {
    font-family: proxima-nova, sans-serif;
    background-image:url('../assets/bgImage.webp');
    background-repeat:no-repeat;
    background-color: rgba(255, 255, 255, 0.5);
    background-size: cover;
  }